html,
body {
  font-family: Helvetica, sans-serif; }

.header {
  background: lightgrey;
  border: 1px solid red;
  widht: 100%;
  text-align: left;
  heigth: 150px; }

#container {
  width: 90%;
  margin: 0 auto;
  font-size: 1em; }

#counter {
  font-size: 20px; }

ul {
  width: 100%; }

li {
  margin-left: -40px;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  list-style-type: none;
  margin-bottom: 10px;
  min-height: 40px;
  font-size: 0.75em; }
  li img {
    float: left;
    width: 32px;
    height: 32px; }
  li .description {
    display: block;
    padding-right: 95px;
    padding-left: 40px; }
  li .buttons {
    position: absolute;
    top: 0px;
    right: 0px; }
    li .buttons .action {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer; }
      li .buttons .action:hover {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 3px solid rgba(0, 0, 0, 0.2); }
    li .buttons .modify {
      background: #9999ff url("icons/modify.svg") no-repeat; }
    li .buttons .delete {
      background: #ff9999 url("icons/delete.svg") no-repeat; }

.hide {
  display: none; }

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.97);
  text-align: center; }

#dropBox {
  margin: 0 auto;
  width: 320px;
  height: 320px;
  line-height: 320px;
  border: 5px dashed #CCCCCC; }

#picDescription {
  margin: 0 auto;
  width: 323px;
  height: 200px;
  border: 3px solid #CCCCCC; }

#addItem {
  margin: 50px auto;
  padding: 10px;
  display: block;
  cursor: pointer;
  font-size: 10px;
  border: 2px solid black;
  bottom: 10px;
  right: 10px;
  background-color: white;
  color: black;
  width: 100px;
  text-align: center;
  background-color: #eeeeee; }
  #addItem:hover {
    background-color: #dddddd; }

#submitButton {
  margin: 5px auto;
  padding: 10px;
  display: block;
  cursor: pointer;
  font-size: 20px;
  border: 2px solid black;
  bottom: 10px;
  right: 10px;
  background-color: white;
  color: black;
  width: 300px;
  text-align: center;
  background-color: #99FF99; }
  #submitButton:hover {
    background-color: #99FF99; }

#cancelButton {
  margin: 10px auto;
  padding: 5px;
  display: block;
  cursor: pointer;
  font-size: 10px;
  border: 2px solid black;
  bottom: 10px;
  right: 10px;
  background-color: white;
  color: black;
  width: 150px;
  text-align: center;
  background-color: #FF9999; }
  #cancelButton:hover {
    background-color: #FF9999; }
